<header class="site-header" role="banner">
  <div class="header-inner">
    <a href="/" class="site-title" aria-label="CSE Motors Home">CSE Motors</a>
    <a href="/account/login" class="account-link">My Account</a>
  </div>
</header>
