<header id="top-header">
  <div class="header-inner">
    <div class="site-brand">
      <a href="/" class="brand-link" aria-label="CSE Motors Home">
        <span class="brand-icon" aria-hidden="true">&#9651;</span>
        <div class="brand-text">
          <span class="brand-name">CSE Motors</span>
          <span class="brand-tagline">Drive Your Dream</span>
        </div>
      </a>
    </div>
    <div class="header-actions">
      <a href="/account/login" class="btn btn-outline" aria-label="My Account">My Account</a>
    </div>
  </div>
</header>
