<nav id="main-navigation" aria-label="Main Navigation">
  <button class="nav-toggle" id="navToggle" aria-expanded="false" aria-controls="nav-menu" aria-label="Toggle navigation menu">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </button>
  <div id="nav-menu" class="nav-menu">
    <%- nav %>
  </div>
</nav>
